

<form [formGroup]="editform">
  <div class="keret">
    <div class="kozepre">
      <div class="form-group">
        <label for="nameinput">Name</label>
        <div class="boxkozep">
          <input type="text" class="form-control" [formControlName]="'name'" name="nameinput" id="nameinput" placeholder="Enter name" [(ngModel)]="adat.name">
        </div>
      </div>


      <div class="form-group">
        <label for="statusinput" class="mt-1">Status</label>
        <div class="boxkozep">
          <input type="number" class="form-control" [formControlName]="'status'" name="statusinput" id="statusinput" placeholder="Enter the status of the character" [(ngModel)]="adat.status">
        </div>
      </div>

      <div class="form-group">
        <label for="speciesinput" class="mt-1">Species</label>
        <div class="boxkozep">
          <input type="number" class="form-control" [formControlName]="'species'" name="speciesinput" id="speciesinput" placeholder="Enter the species of the character" [(ngModel)]="adat.species">
        </div>
      </div>

      <div class="form-group">
        <label for="genderinput" class="my-1">Gender</label>
        <div class="boxkozep">
          <input type="text" class="form-control" [formControlName]="'gender'" name="genderinput" id="genderinput" placeholder="Gender of the character" [(ngModel)]="adat.gender">
        </div>
      </div>

      <button type="submit" class="btn btn-danger my-2" [disabled]="!editform.valid" (click)="save()">Submit</button>
    </div>
  </div>
</form>
